[Unit]
Description=Raspberry Pi hardware fan control
After=basic.target

[Service]
Restart=on-failure
RestartSec=5s
Environment=PYTHONUNBUFFERED=true
ExecStart=/usr/local/bin/hardware_pwm_fan
Nice=5
StandardError=journal
StandardOutput=journal
StandardInput=null
NotifyAccess=main
Type=notify
WatchdogSec=25

[Install]
WantedBy=multi-user.target
